# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: rds-autohealing # NOTE: update this with your service name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"
frameworkVersion: ">=1.28.0 <2.0.0"

provider:
  name: aws
  runtime: go1.x
  region: ap-northeast-1
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "rds:*"
      Resource:
        - "*"
  environment:
    WRITER_INSTANCE_IDENTIFIER: failover-test
    CLUSTER_IDENTIFIER: failover-test-cluster

package:
 exclude:
   - ./**
 include:
   - ./bin/**

functions:
  rds-autohealing:
    handler: bin/autohealing
    events:
      - sns: arn:aws:sns:ap-northeast-1:391383939212:rds-events 
