service: test-spa

provider:
  name: aws

plugins:
  - serverless-spa-deploy
  - serverless-spa-apig

custom:
  # partition: aws-us-gov
  spa:
    websiteBucketNameOutputRef: SpaBucketName
    # prefix: ${opt:stage}
    acl: private
    files:
      - source: ./build
        globs: '**/*'
        headers:
          CacheControl: max-age=31536000 # 1 year
      - source: ./build
        globs: 'index.html'
        headers:
          CacheControl: max-age=300 # 5 minutes
  apig: # false
    # hostedZoneId: ZZZZZZZZZZZZZZZZZZZZ
    domainName: ${self:service}.example.com
    acmCertificateArn: arn:aws:acm:us-east-1:0123456789:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
    # webACLId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

